In [88]:
import pandas as pd
df = pd.read_csv('레딧 최종 전처리.csv')

### 시간만 추출

In [89]:
def extract_hour(time_str):
    match = re.search(r'at (\d{1,2}):\d{2}:\d{2}', time_str)
    return int(match.group(1)) if match else None

In [90]:
# 'Time' 컬럼에서 시간을 추출하여 새로운 컬럼에 저장
df['Extracted_Hour'] = df['Time'].apply(extract_hour)

In [91]:
df

,Time,head,Text,type,src,Extracted_Hour
0,"Thursday, August 31, 2023 at 3:38:34 AM GMT+9","Analog Devices, Inc. Invests Over $1 Billion t...",To expand its semiconductor wafer production p...,$ADI,reddit,3
1,"Thursday, August 31, 2023 at 3:38:34 AM GMT+9","Analog Devices, Inc. Invests Over $1 Billion t...",Isn't ADI at the same time planning to close t...,$ADI,reddit,3
2,"Thursday, August 31, 2023 at 3:38:34 AM GMT+9","Analog Devices, Inc. Invests Over $1 Billion t...",SAMU ??,$ADI,reddit,3
3,"Thursday, August 31, 2023 at 3:38:34 AM GMT+9","Analog Devices, Inc. Invests Over $1 Billion t...",Any idea what processes ADI runs in its fabs?,$ADI,reddit,3
4,"Friday, February 16, 2024 at 3:12:55 AM GMT+9",AMAT Earnings,"Hey team, who's going in today on AMAT earnings?",$AMAT,reddit,3
...,...,...,...,...,...,...
10659,"Wednesday, April 3, 2024 at 11:26:39 AM GMT+9","The US government has transferred over 30,170 ...",It could still affect price later considering ...,$TXN,reddit,11
10660,"Wednesday, April 3, 2024 at 11:26:39 AM GMT+9","The US government has transferred over 30,170 ...","Problem is, when you deposit into a bank it is...",$TXN,reddit,11
10661,"Wednesday, April 3, 2024 at 11:26:39 AM GMT+9","The US government has transferred over 30,170 ...",Hopefully they are paying that off the nationa...,$TXN,reddit,11
10662,"Thursday, June 15, 2023 at 12:44:50 AM GMT+9",Getting wallet address (from) that made transa...,"Hello, I want to have a bot script that I give...",$TXN,reddit,12
10663,"Thursday, June 15, 2023 at 12:44:50 AM GMT+9",Getting wallet address (from) that made transa...,I can't express how grateful I am to @/Teecrac...,$TXN,reddit,12

In [93]:
df['Time'] = pd.to_datetime(df['Time'])

C:\Users\OWNER\AppData\Local\Temp\ipykernel_20228\2145562215.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Time'] = pd.to_datetime(df['Time'])

In [94]:
def assign_extra_value(date):
    weekday = date.strftime('%A')
    if weekday == 'Monday':
        return 0
    if weekday == 'Friday':
        return 0
    if weekday == 'Thursday':
        return 0
    if weekday == 'Tuesday':
        return 0
    if weekday == 'Wednesday':
        return 0
    if weekday == 'Thursday':
        return 0

    
    elif weekday == 'Saturday':
        return 2
    elif weekday == 'Sunday':
        return 1
    else:
        return None

df['extra'] = df['Time'].apply(assign_extra_value)

In [96]:
df['Time'] = df['Time'].astype(str)

In [97]:
df

,Time,head,Text,type,src,Extracted_Hour,extra
0,2023-08-31 03:38:34-09:00,"Analog Devices, Inc. Invests Over $1 Billion t...",To expand its semiconductor wafer production p...,$ADI,reddit,3,0
1,2023-08-31 03:38:34-09:00,"Analog Devices, Inc. Invests Over $1 Billion t...",Isn't ADI at the same time planning to close t...,$ADI,reddit,3,0
2,2023-08-31 03:38:34-09:00,"Analog Devices, Inc. Invests Over $1 Billion t...",SAMU ??,$ADI,reddit,3,0
3,2023-08-31 03:38:34-09:00,"Analog Devices, Inc. Invests Over $1 Billion t...",Any idea what processes ADI runs in its fabs?,$ADI,reddit,3,0
4,2024-02-16 03:12:55-09:00,AMAT Earnings,"Hey team, who's going in today on AMAT earnings?",$AMAT,reddit,3,0
...,...,...,...,...,...,...,...
10659,2024-04-03 11:26:39-09:00,"The US government has transferred over 30,170 ...",It could still affect price later considering ...,$TXN,reddit,11,0
10660,2024-04-03 11:26:39-09:00,"The US government has transferred over 30,170 ...","Problem is, when you deposit into a bank it is...",$TXN,reddit,11,0
10661,2024-04-03 11:26:39-09:00,"The US government has transferred over 30,170 ...",Hopefully they are paying that off the nationa...,$TXN,reddit,11,0
10662,2023-06-15 00:44:50-09:00,Getting wallet address (from) that made transa...,"Hello, I want to have a bot script that I give...",$TXN,reddit,12,0
10663,2023-06-15 00:44:50-09:00,Getting wallet address (from) that made transa...,I can't express how grateful I am to @/Teecrac...,$TXN,reddit,12,0

In [98]:
for i in range(df.shape[0]):

    df.iloc[i,0]=df.iloc[i,0].replace('Saturday,', '') 
    df.iloc[i,0]=df.iloc[i,0].replace('Sunday,', '')
    df.iloc[i,0]=df.iloc[i,0].replace('Monday,', '')
    df.iloc[i,0]=df.iloc[i,0].replace('Friday,', '')
    df.iloc[i,0]=df.iloc[i,0].replace('Tuesday,', '')
    df.iloc[i,0]=df.iloc[i,0].replace('Wednesday,', '')
    df.iloc[i,0]=df.iloc[i,0].replace('Thursday,', '')

In [80]:
df

,Time,head,Text,type,src,Extracted_Hour,extra
0,2023-08-31 03:38:34-09:00,"Analog Devices, Inc. Invests Over $1 Billion t...",To expand its semiconductor wafer production p...,$ADI,reddit,3,0
1,2023-08-31 03:38:34-09:00,"Analog Devices, Inc. Invests Over $1 Billion t...",Isn't ADI at the same time planning to close t...,$ADI,reddit,3,0
2,2023-08-31 03:38:34-09:00,"Analog Devices, Inc. Invests Over $1 Billion t...",SAMU ??,$ADI,reddit,3,0
3,2023-08-31 03:38:34-09:00,"Analog Devices, Inc. Invests Over $1 Billion t...",Any idea what processes ADI runs in its fabs?,$ADI,reddit,3,0
4,2024-02-16 03:12:55-09:00,AMAT Earnings,"Hey team, who's going in today on AMAT earnings?",$AMAT,reddit,3,0
...,...,...,...,...,...,...,...
10659,2024-04-03 11:26:39-09:00,"The US government has transferred over 30,170 ...",It could still affect price later considering ...,$TXN,reddit,11,0
10660,2024-04-03 11:26:39-09:00,"The US government has transferred over 30,170 ...","Problem is, when you deposit into a bank it is...",$TXN,reddit,11,0
10661,2024-04-03 11:26:39-09:00,"The US government has transferred over 30,170 ...",Hopefully they are paying that off the nationa...,$TXN,reddit,11,0
10662,2023-06-15 00:44:50-09:00,Getting wallet address (from) that made transa...,"Hello, I want to have a bot script that I give...",$TXN,reddit,12,0
10663,2023-06-15 00:44:50-09:00,Getting wallet address (from) that made transa...,I can't express how grateful I am to @/Teecrac...,$TXN,reddit,12,0

In [81]:
# 'at' 뒤의 모든 글자를 제거하는 함수 정의
def remove_after_at(text):
    return re.sub(r'at.*', '', text)

# 'Time' 열에 함수 적용
df['Time'] = df['Time'].apply(remove_after_at)

df

TypeError: expected string or bytes-like object

In [52]:
df['Time']

0           August 31, 2023
1           August 31, 2023
2           August 31, 2023
3           August 31, 2023
4         February 16, 2024
                ...
10659         April 3, 2024
10660         April 3, 2024
10661         April 3, 2024
10662         June 15, 2023
10663         June 15, 2023
Name: Time, Length: 10664, dtype: object

In [53]:
df.iloc[555,0]

' May 2, 2024 '

In [54]:
df.isnull().sum()

Time              0
head              0
Text              0
type              0
src               0
Extracted_Hour    0
dtype: int64

In [55]:
df

,Time,head,Text,type,src,Extracted_Hour
0,"August 31, 2023","Analog Devices, Inc. Invests Over $1 Billion t...",To expand its semiconductor wafer production p...,$ADI,reddit,3
1,"August 31, 2023","Analog Devices, Inc. Invests Over $1 Billion t...",Isn't ADI at the same time planning to close t...,$ADI,reddit,3
2,"August 31, 2023","Analog Devices, Inc. Invests Over $1 Billion t...",SAMU ??,$ADI,reddit,3
3,"August 31, 2023","Analog Devices, Inc. Invests Over $1 Billion t...",Any idea what processes ADI runs in its fabs?,$ADI,reddit,3
4,"February 16, 2024",AMAT Earnings,"Hey team, who's going in today on AMAT earnings?",$AMAT,reddit,3
...,...,...,...,...,...,...
10659,"April 3, 2024","The US government has transferred over 30,170 ...",It could still affect price later considering ...,$TXN,reddit,11
10660,"April 3, 2024","The US government has transferred over 30,170 ...","Problem is, when you deposit into a bank it is...",$TXN,reddit,11
10661,"April 3, 2024","The US government has transferred over 30,170 ...",Hopefully they are paying that off the nationa...,$TXN,reddit,11
10662,"June 15, 2023",Getting wallet address (from) that made transa...,"Hello, I want to have a bot script that I give...",$TXN,reddit,12
10663,"June 15, 2023",Getting wallet address (from) that made transa...,I can't express how grateful I am to @/Teecrac...,$TXN,reddit,12

In [56]:
month,day,year=df.iloc[70,0].split()

In [57]:
def month_replace(month):
    month = month.replace("January", "01")
    month = month.replace("February", "02")
    month = month.replace("March", "03")
    month = month.replace("April", "04")
    month = month.replace("May", "05")
    month = month.replace("June", "06")
    month = month.replace("July", "07")
    month = month.replace("August", "08")
    month = month.replace("September", "09")
    month = month.replace("October", "10")
    month = month.replace("November", "11")
    month = month.replace("December", "12")
    return month

In [58]:
def day_replace(day):
    if day in ("10,","11,", "12,", "13,", "14,", "15,", "16,", "17,", "18,", "19,", "20,", 
               "21,", "22,", "23,", "24,", "25,", "26,", "27,", "28,", "29,", "30,", "31,"):
        return day.replace(",",'')
    
    day = day.replace("1,", "01")
    day = day.replace("2,", "02")
    day = day.replace("3,", "03")
    day = day.replace("4,", "04")
    day = day.replace("5,", "05")
    day = day.replace("6,", "06")
    day = day.replace("7,", "07")
    day = day.replace("8,", "08")
    day = day.replace("9,", "09")

    return day

In [59]:
for i in range(df.shape[0]):
    month,day,year=df.iloc[i,0].split()
    month=month_replace(month)
    day= day_replace(day)
    string=f"{year}-{month}-{day}"
    
    df.iloc[i,0]=string

In [60]:
df

,Time,head,Text,type,src,Extracted_Hour
0,2023-08-31,"Analog Devices, Inc. Invests Over $1 Billion t...",To expand its semiconductor wafer production p...,$ADI,reddit,3
1,2023-08-31,"Analog Devices, Inc. Invests Over $1 Billion t...",Isn't ADI at the same time planning to close t...,$ADI,reddit,3
2,2023-08-31,"Analog Devices, Inc. Invests Over $1 Billion t...",SAMU ??,$ADI,reddit,3
3,2023-08-31,"Analog Devices, Inc. Invests Over $1 Billion t...",Any idea what processes ADI runs in its fabs?,$ADI,reddit,3
4,2024-02-16,AMAT Earnings,"Hey team, who's going in today on AMAT earnings?",$AMAT,reddit,3
...,...,...,...,...,...,...
10659,2024-04-03,"The US government has transferred over 30,170 ...",It could still affect price later considering ...,$TXN,reddit,11
10660,2024-04-03,"The US government has transferred over 30,170 ...","Problem is, when you deposit into a bank it is...",$TXN,reddit,11
10661,2024-04-03,"The US government has transferred over 30,170 ...",Hopefully they are paying that off the nationa...,$TXN,reddit,11
10662,2023-06-15,Getting wallet address (from) that made transa...,"Hello, I want to have a bot script that I give...",$TXN,reddit,12
10663,2023-06-15,Getting wallet address (from) that made transa...,I can't express how grateful I am to @/Teecrac...,$TXN,reddit,12

In [61]:
df['Time'] = pd.to_datetime(df['Time'])

In [62]:
df.loc[df['Extracted_Hour'] <= 13, 'Time'] -= pd.Timedelta(days=1)

In [65]:
df.drop(columns=['Extracted_Hour'], inplace=True)

In [67]:
df

,Time,head,Text,type,src
0,2023-08-30,"Analog Devices, Inc. Invests Over $1 Billion t...",To expand its semiconductor wafer production p...,$ADI,reddit
1,2023-08-30,"Analog Devices, Inc. Invests Over $1 Billion t...",Isn't ADI at the same time planning to close t...,$ADI,reddit
2,2023-08-30,"Analog Devices, Inc. Invests Over $1 Billion t...",SAMU ??,$ADI,reddit
3,2023-08-30,"Analog Devices, Inc. Invests Over $1 Billion t...",Any idea what processes ADI runs in its fabs?,$ADI,reddit
4,2024-02-15,AMAT Earnings,"Hey team, who's going in today on AMAT earnings?",$AMAT,reddit
...,...,...,...,...,...
10659,2024-04-02,"The US government has transferred over 30,170 ...",It could still affect price later considering ...,$TXN,reddit
10660,2024-04-02,"The US government has transferred over 30,170 ...","Problem is, when you deposit into a bank it is...",$TXN,reddit
10661,2024-04-02,"The US government has transferred over 30,170 ...",Hopefully they are paying that off the nationa...,$TXN,reddit
10662,2023-06-14,Getting wallet address (from) that made transa...,"Hello, I want to have a bot script that I give...",$TXN,reddit
10663,2023-06-14,Getting wallet address (from) that made transa...,I can't express how grateful I am to @/Teecrac...,$TXN,reddit

In [69]:
df.to_csv('레딧 날짜 전처리 완료.csv')